.col{
    display: flex;
    justify-content: center;
    margin: 10px;
    background-color: rgba(204, 190, 218, 0.629);
    border-radius: 5%;
}
img{
    height: 180px;
    width: 180px;
}
div{
    justify-content: center;
}